<ion-header [translucent]="true">
  <ion-toolbar class="dark-background">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ typeForm }} Post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-label>Title: </ion-label>
        <ion-input [(ngModel)]="post.title" maxlength="70" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Summary: </ion-label>
        <ion-input [(ngModel)]="post.summary" maxlength="120" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Content: </ion-label>
        <ion-textarea [(ngModel)]="post.content" rows="10" required></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label>Author: </ion-label>
        <ion-input [(ngModel)]="post.author" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Keywords: </ion-label>
        <ion-input [(ngModel)]="post.keyWords" required></ion-input>
      </ion-item>

      <!-- Display the captured photos (optional) -->
      <ion-grid *ngIf="post.photos && post.photos.length > 0">
        <ion-row>
          <ion-col size="6" *ngFor="let imageURL of post.photos; let i = index">
            <ion-img [src]="imageURL"></ion-img>
            <ion-icon name="trash-outline" class="delete-icon" (click)="deleteImage(i)"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- Button for capturing a low-resolution photo -->
      <ion-item>
        <ion-button (click)="takeLowResolutionPhoto()">Capture Photo</ion-button>
      </ion-item>
      


      <!-- Button to save the post -->
      <div *ngIf="typeForm === 'New' ">
        <ion-buttons slot="end">
          <ion-button class="submit-button" fill="solid" color="primary" (click)="savePost()"
            [disabled]="!isFormValid()">Save</ion-button>
        </ion-buttons>
      </div>
      <div *ngIf="typeForm === 'Update' ">
        <ion-buttons slot="end">
          <ion-button class="submit-button" fill="solid" color="primary" (click)="updatePost()"
            [disabled]="!isFormValid()">Update</ion-button>
        </ion-buttons>
      </div>

    </ion-list>
  </ion-card>
</ion-content>