<ion-header [translucent]="true">
  <ion-toolbar class="dark-background">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>view post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="blog-card">
    <h2 class="blog-title">{{ post.title }}</h2>
    <p class="blog-summary">{{ post.summary }}</p>

    <!-- Display the captured photos (optional) -->
    <ion-grid *ngIf="post.photos && post.photos.length > 0">
      <ion-row>
        <ion-col size="6" *ngFor="let imageURL of post.photos; let i = index">
          <ion-img [src]="imageURL" class="view-img"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
    <p class="blog-content" style="white-space: pre-wrap;">{{ post.content }}</p>
    <p class="blog-author">By {{ post.author }}</p>
    <p class="blog-date">{{ post.createdDate | date: 'dd/MM/yyyy' }}</p>
  </ion-card>
</ion-content>
